#print_component * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#print_component body {
  max-width: 794px;
  max-height: 1123px;
  margin: 20px auto;
}

#print_component .app {
  border: 2px solid #ccc;
  padding: 10px;
}

#print_component header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#print_component .logo {
  object-fit: contain;
  width: 70%;
}

#print_component .logo img {
  width: 95%;
}

#print_component header .title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#print_component header .title h1 {
  text-transform: uppercase;
  font-size: 28px;
}

#print_component header .title p {
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}

#print_component .project-name {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

#print_component .suggest {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#print_component .suggest-name {
  display: flex;
  position: relative;
}

#print_component .suggest-name:last-child {
  width: 40%;
}

#print_component .suggest-name h3 {
  margin-right: 50px;
  font-size: 16px;
}

#print_component .under-dot-first-child {
  position: absolute;
  left: 50%;
  top: 3px;
}

#print_component .under-dot {
  position: absolute;
  left: 30%;
  top: 3px;
}

#print_component .suggest-content {
  margin-top: 10px;
}

#print_component .suggest-content-name {
  display: flex;
  position: relative;
}

#print_component .suggest-content-name h3 {
  font-size: 16px;
  margin-right: 20px;
}

#print_component .suggest-content-under-dot {
  position: absolute;
  top: 2px;
  left: 20%;
}

#print_component table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

#print_component thead {
  text-transform: uppercase;
}

#print_component th {
  padding: 5px;
}

#print_component tr td {
  padding: 5px;
}

#print_component .proposer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

#print_component .proposer-title,
#print_component .full-name {
  margin-right: 20%;
}

#print_component .opinion-proposer {
  display: flex;
  margin-top: 10px;
}

#print_component .opinion-proposer h4 {
  margin-right: 6px;
}

#print_component .opinion-proposer-content {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#print_component .opinion-proposer-content span {
  word-wrap: break-word;
}

#print_component .opinion-proposer-content span:first-child {
  position: relative;
  top: 4px;
}

#print_component .opinion-proposer-content span:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

#print_component .done {
  width: 100%;
  margin-top: 20px;
}

#print_component .done div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  height: 100%;
}

#print_component .done div div {
  width: 50%;
  display: flex;
  align-items: center;
}

#print_component .done div div h3 {
  text-transform: uppercase;
}

#print_component .signature {
  display: flex;
  align-items: center;
}

#print_component .signature img {
  width: 100%;
  max-width: 200px;
}

#print_component .signature-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
