body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.list-role-actions {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  gap: 2px;
  margin-right: 10px;
}

.button-colspan {
  display: flex;
  align-items: center;
}

.loading-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.form-control {
  width: 100%;
}

.pagination {
  margin-top: 20px;
}
