body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.list-role-actions {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  gap: 10px;
  margin-right: 10px;
  align-items: center;
}

.icon-ring {
  position: relative;
  display: inline-block;
  height: auto;
}

.number-noti {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  color: red;
}

#components-dropdown-demo-arrow .ant-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}

.modal-info {
  width: auto;
  min-height: 40px;
  display: flex;
  align-items: center;
  background-color: rgb(245 245 245);
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
  margin-top: 7px;
}

.ant-dropdown {
  max-height: 80%;
}

.ant-row-rtl #components-dropdown-demo-arrow .ant-btn {
  margin-right: 0;
  margin-bottom: 8px;
  margin-left: 8px;
}

.button-colspan {
  display: flex;
  align-items: center;
}

.loading-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.form-control {
  width: 100%;
}

.pagination {
  margin-top: 20px;
}

.role {
  background-color: #fff;
  border: 2px solid rgb(240, 233, 233);
  height: 55px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.role-admin {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  line-height: 30px;
  font-weight: 600;
  color: rgb(73, 70, 70);
  text-align: center;
}

.role-name {
  height: 50%;
  display: flex;
  align-items: center;
  color: rgb(73, 70, 70);
}
